.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding: 0 10px;
}

.cardContainer {
  width: 100%;
  padding: 1rem;
}

.card {
  margin: 0 auto;
  border: 1px solid gray;
  max-width: 100%;
}

.cardHeader {
  text-align: center;
  width: 100%;
  background-color: dodgerblue;
  font-size: 1.5rem;
  padding: 1rem;
}

.cardFooter,
.cardBody {
  text-align: center;
  padding: 0.5rem;
  margin: 1rem;
}

.cardBody a {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

.btn {
  background-color: #de5246;
  color: white;
  text-decoration: none;
  padding: 0.3rem;
  font-weight: bold;
}

.logoutBtn {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: dodgerblue;
  color: white;
  text-decoration: none;
  padding: 0.3rem;
  font-weight: bold;
}
