PORT = 3000
MONGO_URI = mongodb+srv://Ernie:Hmniimykmfp2d92!@cluster0.friyc.mongodb.net/lifedash?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 17010690512-mrmumng5jpu2ascvesispcpigshkajl9.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = QjwQxT_YG5lpFcTTrYg_bORT