.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.name-icon {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  border-radius: 35px;
  padding: 0.2rem;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 5px gray;
}

.name-icon img {
  border-radius: 2rem;
  width: 50px;
  margin: 0.5rem;
}

.name-icon p {
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

.acc-options {
  font-size: 1.3rem;
  padding: 1rem;
  border: 1px solid #45b;
  margin: 1rem;
  background-color: #45b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  box-shadow: 0 2px 1px gray;
  border-radius: 5px;
}
