/* .create-profile h1, 
.create-profile button {
  margin: 1rem auto;
  width: 100%;
  text-align: center;
}

.create-profile button {
  outline: 0;
  border: 0;
}

.card-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid gray;
}

.form-group {
  display: flex;
  flex-flow: column;
}

.form-group input {
  padding: 0.3rem;
  padding-bottom: 0.1rem;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid gray;
  outline: 0;
}

.form-group textarea {
  padding: 0.3rem;
  resize: none;
} */
